#footer {
	position: relative;
	background: #fff;
	background-attachment: scroll;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover
}

#footer-wrap {
	position: relative;
	padding: 40px 20px;
	color: var(--light-grey);
	text-align: center
}

#footer-wrap a {
	color: var(--light-grey)
}

#footer-wrap a:hover {
	text-decoration: underline
}

#footer-wrap .footer-separator {
	margin: 0 4px
}

#footer-wrap .icp-icon {
	padding: 0 4px;
	max-height: 1.4em;
	width: auto;
	vertical-align: text-bottom
}

[data-theme=dark] #footer:before{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	content: ''
}
 


@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%
	}

	50% {
		background-position: 100% 50%
	}

	100% {
		background-position: 0 50%
	}
}
 

#footer {
	background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

#footer:before {
	background-color: rgba(0, 0, 0, 0)
}


@font-face {
	font-family: aqqxs;
	src: url(https://cdn1.tianli0.top/gh/L-20021213/static/HarmonyOS_Sans_SC_Medium.subset.woff2);
	font-display: swap
}



#footer-wrap {
	font-family: aqqxs, sans-serif
}



.framework-info {
	display: none !important
}

.copyright {
	display: none !important
}



#footer {
	display: flex;
	flex-direction: column
}

#footer-wrap {
	padding: 0
}

#mj-footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 1200px;
	margin: 1rem auto;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	padding: 0 1rem
}

#mj-footer .footer-group {
	min-width: 120px
}

#mj-footer .footer-title {
	color: var(--dark_bg_color);
	font-size: 1rem;
	text-align: left
}

#mj-footer .footer-links {
    margin-top: 10px;/*渲染问题加10px。如果不加不好看*/
	display: flex;
	flex-direction: column
}

#mj-footer .footer-item {
	font-size: 1rem;
	margin-right: auto
}

#mj-footer .footer-group .footer-links a {
	text-decoration: none
}

#mj-footer .footer-group .footer-links a:hover {
	text-decoration: none;
	color: #9c9
}

div#footer_deal {
	justify-content: center;
	display: flex;
	padding-top: 2rem;
	align-items: center
}

div#footer_deal a {
	margin: 1rem 27px;
	font-size: 24px;
	line-height: 1.3rem;
	border-radius: 3rem
}

div#footer_deal a:hover {
	text-decoration: none;
	color: #9c9
}

#footer-info {
	padding: 1rem;
	color: #fff;
	background: linear-gradient(208deg, #4584ff 0, #4584ff 11%, #ff7676 100%);
	display: flex;
	overflow: hidden
}

[data-theme=dark] #footer-info {
	background: var(--text-bg-hover)
}

#footer-info .footer-info-links {
	display: flex;
	justify-content: space-between;
	max-width: 1500px;
	width: 100%;
	margin: 0 auto;
	flex-wrap: wrap
}

#footer-info .footer-info-left {
	display: flex;
	flex-wrap: wrap
}

.footer-info-right {
	display: block
}

#footer-info .footer-info-link {
	margin-right: 1rem;
	font-size: .9rem;
	font-weight: 700;
	white-space: nowrap
}

#footer-info a.footer-info-link:hover {
	color: #9c9;
	text-decoration: none
}

#footer-info .footer-info-tips {
	font-weight: 700
}






















/*scrollbar滚动条*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px
}
::-webkit-scrollbar-track {
	background-color: rgba(153, 204, 153, .2);
	border-radius: 2em
}
::-webkit-scrollbar-thumb {
	background-color: ##49b1f5;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
	border-radius: 2em
}
::-webkit-scrollbar-corner {
	background-color: transparent
}





