html
  head
  body
    #home_top
      .recent-top-post-group#recent-top-post-group
        .recent-post-top#recent-post-top
          #bannerGroup
            #banners
              .banners-title
                .banners-title-big 无限活力
                .banners-title-big 与热爱生活
                .banners-title-small Butterfly.Top
              .tags-group-all
                .tags-group-wrapper
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#b8f0ae')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/vue.webp', title='Vue', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/Java.webp', title='Java', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#57b6e6')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/docker.png', title='Docker', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#2e3a41')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/webpack.webp', title='WebPack', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#4082c3')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/PS.png', title='Photoshop', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#eb6840')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/swift.png', title='Swift', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/python.png', title='Python', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#333')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/node-logo.svg', title='Node', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#df5b40')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/git.webp', title='Git', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#2c51db')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/css.png', title='CSS3', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#f7cb4f')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/js.png', title='JS', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#e9572b')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/html.png', title='HTML', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/Sketch.png', title='Sketch', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#989bf8')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/AE.png', title='AfterEffect', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#b8f0ae')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/vue.webp', title='Vue', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/Java.webp', title='Java', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#57b6e6')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/docker.png', title='Docker', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#2e3a41')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/webpack.webp', title='WebPack', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#4082c3')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/PS.png', title='Photoshop', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#eb6840')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/swift.png', title='Swift', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/python.png', title='Python', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#333')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/node-logo.svg', title='Node', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#df5b40')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/git.webp', title='Git', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#2c51db')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/css.png', title='CSS3', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#f7cb4f')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/js.png', title='JS', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#e9572b')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/html.png', title='HTML', onerror='this.onerror=null,this.src="/img/404.png"')
                  .tags-group-icon-pair
                    .tags-group-icon(style='background:#fff')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/Sketch.png', title='Sketch', onerror='this.onerror=null,this.src="/img/404.png"')
                    .tags-group-icon(style='background:#989bf8')
                      img(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/banners/AE.png', title='AfterEffect', onerror='this.onerror=null,this.src="/img/404.png"')
              a#banner-hover(onclick='toRandomPost()')
                span.bannerText 随便逛逛
                i.fas.fa-arrow-right.banner-righticon
            .categoryGroup
              .categoryItem(style='box-shadow:var(--heo-shadow-blue)')
                a.categoryButton.CB1.bikan(href='/categories/学习笔记/')
                  span.categoryButtonText 必看精选
                  i.fas.fa-dove
              .categoryItem(style='box-shadow:var(--heo-shadow-red)')
                a.categoryButton.remen(href='/categories/魔改教程/')
                  span.categoryButtonText 热门文章
                  i.fas.fa-burn
              .categoryItem(style='box-shadow:var(--heo-shadow-green)')
                a.categoryButton.shiyong(href='/categories/语法教程/')
                  span.categoryButtonText 实用教程
                  i.fas.fa-book
          
          .topGroup
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='Markdown教程 - 使用普通文本编辑器编写的标记语言,通过简单的标记语法,它可以使普通文本内容具有一定的格式')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://pic.rmb.bdstatic.com/bjh/965866510655a628f2c37b93846520a93213.png')
              .recent-post-info()
                a.article-title(href='', title='Markdown教程 - 使用普通文本编辑器编写的标记语言,通过简单的标记语法,它可以使普通文本内容具有一定的格式') Markdown教程 - 使用普通文本编辑器编写的标记语言,通过简单的标记语法,它可以使普通文本内容具有一定的格式
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/meihuariji.png')
              .recent-post-info()
                a.article-title(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级') 博客美化日记 - 囊括本博客Butterfly主题的基本美化升级
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/meihuariji.png')
              .recent-post-info()
                a.article-title(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级') 博客美化日记 - 囊括本博客Butterfly主题的基本美化升级
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/meihuariji.png')
              .recent-post-info()
                a.article-title(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级') 博客美化日记 - 囊括本博客Butterfly主题的基本美化升级
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/meihuariji.png')
              .recent-post-info()
                a.article-title(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级') 博客美化日记 - 囊括本博客Butterfly主题的基本美化升级
            .recent-post-item
              .post_cover.left_radius
                a(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级')
                  span.recent-post-top-text() 荐
                  img.post_bg.entered.loaded(src='https://cdn1.tianli0.top/gh/Jayhrn/CDN/img/meihuariji.png')
              .recent-post-info()
                a.article-title(href='', title='博客美化日记 - 囊括本博客Butterfly主题的基本美化升级') 博客美化日记 - 囊括本博客Butterfly主题的基本美化升级