html
  head
  body
    main.layout.hide-aside#content-inner
      #page
        h1.page-title 米尔嘉静态博客
        #article-container
          #page
            h1.page-title books
            #article-container
              include ./bbTimeList.pug
              .author-content-item.like-book.single.share
                .card-content
                  .author-content-item-tips Blog
                  span.author-content-item-title
                    | 静下来细细
                    span.inline-word 品味着，
                  span.author-content-item-title
                    | 人间的
                    span.inline-word 旧事。
                  .content-bottom
                    .tips 岁月静好，隔花重现，愿得红尘无忧，念起便是温暖
                  .banner-button-group
                    a.banner-button(target='_blank', rel='noopener', href='https://www.douban.com/')
                      i.fas.fa-circle-chevron-right
                      span.banner-button-text 感受更多
              blockquote
                p 这里见证一个陌生人的成长，这有关于学习、开发相关的问题和看法，还有生活和分享。夏日有着迟暮的霞光正如晚来的你皆是笑意。