html
  head
  body
    main.layout.hide-aside#content-inner
      #page
        h1.page-title 书籍推荐
        #article-container
          #page
            h1.page-title books
            #article-container
              .author-content-item.like-book.single.share
                .card-content
                  .author-content-item-tips 书籍
                  span.author-content-item-title
                    | 静下来细细
                    span.inline-word 品味着，
                  span.author-content-item-title
                    | 人间的
                    span.inline-word 旧事。
                  .content-bottom
                    .tips 跟米尔嘉查看更多书影音
                  .banner-button-group
                    a.banner-button(target='_blank', rel='noopener', href='https://www.douban.com/')
                      i.fas.fa-circle-chevron-right
                      span.banner-button-text 感受更多
              blockquote
                p 眼睛到不了的地方，文字可以。
              style .hexo-douban-item{padding-bottom:10px;position:relative;clear:both;min-height:170px;padding:10px 0;border-bottom:1px #ddd solid}@media screen and (max-width:600px){.hexo-douban-item{width:100%}}.hexo-douban-picture{position:absolute;left:0;top:10px;width:100px}.hexo-douban-info{padding-left:120px}.hexo-douban-meta{font-size:12px;padding-right:10px}.hexo-douban-comments{font-size:12px}
              div
                .hexo-douban-show#hexo-douban-item3
                  .hexo-douban-item
                    .hexo-douban-picture(title='人生大事')
                      a(target='_blank', href='https://read.douban.com/ebook/30541512/', rel='external nofollow')
                        img(src='https://pic.arkread.com/cover/ebook/f/30541512.1653661839.jpg!cover_default.jpg', data-src='https://pic.arkread.com/cover/ebook/f/30541512.1653661839.jpg!cover_default.jpg', referrerpolicy='no-referrer')
                    .hexo-douban-info
                      .hexo-douban-title(title='人生大事')
                        a(target='_blank', href='https://read.douban.com/ebook/30541512/', rel='external nofollow') 人生大事
                      .hexo-douban-meta 2022-07-01 / ★★★★★ 力荐
                      .hexo-douban-comments 讲述了农村人福贵悲惨的人生遭遇。福贵本是个阔少爷，可他嗜赌如命，终于赌光了家业，一贫如洗。他的父亲被他活活气死，母亲则在穷困中患了重病，福贵前去求药，却在途中被国民党抓去当壮丁。经过几番波折回到家里，才知道母亲早已去世，妻子家珍含辛茹苦地养大两个儿女。此后更加悲惨的命运一次又一次降临到福贵身上，他的妻子、儿女和孙子相继死去，最后只剩福贵和一头老牛相依为命，但老人依旧活着，仿佛比往日更加洒脱与坚强。
                  .hexo-douban-item
                    .hexo-douban-picture(title='成年人的谎言生活')
                      a(target='_blank', href='https://book.douban.com/subject/35467795/', rel='external nofollow')
                        img(src='https://img9.doubanio.com/view/subject/s/public/s33941954.jpg', data-src='https://img9.doubanio.com/view/subject/s/public/s33941954.jpg', referrerpolicy='no-referrer')
                    .hexo-douban-info
                      .hexo-douban-title(title='成年人的谎言生活')
                        a(target='_blank', href='https://book.douban.com/subject/35467795/', rel='external nofollow') 成年人的谎言生活
                      .hexo-douban-meta 2022-07-20 / ★★★★☆ 推荐
                      .hexo-douban-comments 聚焦于出身那不勒斯中产家庭的女孩乔瓦娜的青春和成长。在她父亲离家两年前，十二岁的乔瓦娜偶然听到父亲对母亲说自己很丑，越来越像他一直嫌恶的妹妹维多利亚，这句话驱使乔瓦娜第一次走向那不勒斯下城，面对父亲抛在身后的卑贱过往。
                  .hexo-douban-item
                    .hexo-douban-picture(title='罪与罚')
                      a(target='_blank', href='https://book.douban.com/subject/35406615/', rel='external nofollow')
                        img(src='https://img1.doubanio.com/view/subject/s/public/s33863869.jpg', data-src='https://img1.doubanio.com/view/subject/s/public/s33863869.jpg', referrerpolicy='no-referrer')
                    .hexo-douban-info
                      .hexo-douban-title(title='罪与罚')
                        a(target='_blank', href='https://book.douban.com/subject/35406615/', rel='external nofollow') 罪与罚
                      .hexo-douban-meta 2022-08-25 / ★★★★★ 力荐
                      .hexo-douban-comments 穷大学生拉斯柯尔尼科夫受无政府主义思想毒害，认为自己可以为所欲为。为生计所迫，他杀死放高利贷的老太婆阿辽娜和她的无辜妹妹丽扎韦达，制造了一起震惊全俄的凶杀案。经历了一场内心痛苦的忏悔后，他最终在基督徒索菲雅姑娘的规劝下，投案自首，被判流放西伯利亚。