html
  head
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css', media='all', onload='this.media=\'all\'')
    link(rel='stylesheet', href='/css/footer.css')

    script(src='https://lib.baomitu.com/layer/3.1.1/layer.js')
    style(type='text/css') a{text-decoration:none;}div.usercm{background-repeat:no-repeat;background-position:center center;background-size:cover;background-color:#fff;font-size:13px!important;width:130px;-moz-box-shadow:1px 1px 3px rgba (0,0,0,.3);box-shadow:0px 0px 15px #333;position:absolute;display:none;z-index:10000;opacity:0.9;border-radius:8px;}div.usercm ul{list-style-type:none;list-style-position:outside;margin:0px;padding:0px;display:block}div.usercm ul li{margin:0px;padding:0px;line-height:35px;}div.usercm ul li a{color:#666;padding:0 15px;display:block}div.usercm ul li a:hover{color:#fff;background:#fb7299}div.usercm ul li a i{margin-right:10px}a.disabled{color:#c8c8c8!important;cursor:not-allowed}a.disabled:hover{background-color:rgba(255,11,11,0)!important}div.usercm{background:#fff !important;}
    script(type='text/javascript').
      (function(a) {a.extend({mouseMoveShow:function(b) {var d =0,c =0,h =0,k =0,e =0,f =0;a(window).mousemove(function(g) {d =a(window).width();c =a(window).height();h =g.clientX;k =g.clientY;e =g.pageX;f =g.pageY;h + a(b).width() >=d &&(e =e - a(b).width() - 5);k + a(b).height() >=c &&(f =f - a(b).height() - 5);a("html").on({contextmenu:function(c) {3 ==c.which &&a(b).css({left:e,top:f
      }).show()
      },click:function() {a(b).hide()}})})
      },disabledContextMenu:function() {window.oncontextmenu =function() {return !1}}})
      })(jQuery);function getSelect() {"" ==(window.getSelection ?window.getSelection() :document.selection.createRange().text) ?layer.msg("啊噢...你没还没选择文字呢！") :document.execCommand("Copy")
      };function baiduSearch() {var a =window.getSelection ?window.getSelection() :document.selection.createRange().text;"" ==a ?layer.msg("啊噢...你没还没选择文字呢！") :window.open("https://www.baidu.com/s?wd=" + a)
      };$(function() {for (var a =navigator.userAgent,b ="Android;iPhone;SymbianOS;Windows Phone;iPad;iPod".split(";"),d =!0,c =0;c < b.length;c++) if (0 < a.indexOf(b[c])) {d =!1;break}
      d &&($.mouseMoveShow(".usercm"),$.disabledContextMenu())
      });
    script.
      function blogSearch() {
      var _port = location.port?':'+location.port:''
      var _href = location.protocol+'//'+location.hostname+_port+'/search?keyword='
              var a = window.getSelection ? window.getSelection() : document.selection.createRange().text;
              "" == a ? layer.msg("啊噢...你没还没选择文字呢！") : window.open(_href + a)
          };


    
  body
    footer#footer
      #footer-wrap
        .copyright ©2022 By Butterfly
        .framework-info
          span 框架 
          a(target='_blank', rel='noopener', href='https://hexo.io') Hexo
          span.footer-separator |
          span 主题 
          a(target='_blank', rel='noopener', href='https://github.com/jerryc127/hexo-theme-butterfly') Butterfly
        .footer_custom_text
          #footer-wrap
            #footer_deal
              a.social-icon(href='mailto:431074198@qq.com', target='_blank', title='Email', rel='external nofollow noopener noreferrer')
                i.fas.fa-envelope
              a.social-icon(href='https://github.com/minterjia', target='_blank', title='Github', rel='external nofollow noopener noreferrer')
                i.fab.fa-github
              a.social-icon(href='https://space.bilibili.com/440124216', target='_blank', title='Bilibili', rel='external nofollow noopener noreferrer')
                i.fa-brands.fa-bilibili
              a.social-icon(href='https://music.163.com/#/user/home?id=1314662491', target='_blank', title='网易云', rel='external nofollow noopener noreferrer')
                i.fa-solid.fa-compact-disc
            #mj-footer
              .footer-group
                h3.footer-title
                  | 推荐
                  i.fa.fa-fire(style='color:var(--mj-red);padding-left:5px;')
                .footer-links
                  a.footer-item(href='https://1100dh.com/') 千百导航
                  a.footer-item(href='https://www.bootcdn.cn/') BootCDN
                  a.footer-item(href='https://staticfile.org/') StaticfileCDN
                  a.footer-item(href='https://www.jsdelivr.com/') JsdelivrCDN
                  a.footer-item(href='https://www.runoob.com/') 菜鸟教程
                  a.footer-item(href='https://tooltt.com/') 在线工具箱

              .footer-group
                h3.footer-title 生活
                  i.fa.fa-fire(style='color:var(--mj-red);padding-left:5px;')
                .footer-links
                  a.footer-item(href='') 安然无恙
                  a.footer-item(href='') 心若所动
                  a.footer-item(href='') 岁月漫长
                  a.footer-item(href='') 值得期待
                  a.footer-item(href='') 都在变好
              .footer-group
                h3.footer-title 博客导航
                  i.fa.fa-fire(style='color:var(--mj-red);padding-left:5px;')
                .footer-links
                  a.footer-item(target='_blank', rel='external nofollow noopener noreferrer', href='https://butterfly.top') 博客首页
                  a.footer-item(href='https://butterfly.top/categories/') 文章分类
                  a.footer-item(href='https://butterfly.top/tegs/') 标签分类
                  a.footer-item(href='https://butterfly.top/link/') 友情链接
                  a.footer-item(href='https://butterfly.top/about/') 关于作者
              .footer-group
                h3.footer-title 友情链接
                  i.fa.fa-fire(style='color:var(--mj-red);padding-left:5px;')
                .footer-links
                  a.footer-item(target='_blank', rel='external nofollow noopener noreferrer', href='https://butterfly.top') Hexo-Butterfly
                  a.footer-item(href='https://butterfly.wiki') Hexo-Butterfly
                  a.footer-item(href='https://butterfly.love') Hexo-Butterfly
                  a.footer-item(href='https://butterfly.js.cn') Halo-Joe2.0
                  a.footer-item(href='https://fluid.hexo.run') Hexo-Fluid
                  a.footer-item(href='https://monie.hexo.run') Hexo-Monie
              .footer-group
                h3.footer-title 服务
                  i.fa.fa-fire(style='color:var(--mj-red);padding-left:5px;')
                .footer-links
                  a.footer-item(href='mailto:431074198@qq.com') 联系方式
                  a.footer-item(target='_blank', rel='noopener', href='https://github.com/minterjia') GitHub
                  a.footer-item(target='_blank', rel='noopener', href='https://vercel.com/minterjia') vercel
                  a.footer-item(target='_blank', rel='noopener', href='https://codepen.io/minterjia') codepen
            #footer-info
              .footer-info-links
                .footer-info-left
                  #footer-info-tips ©2022  By  Butterfly
                .footer-info-right
                  a.footer-info-link(target='_blank', rel='noopener', href='https://butterfly.js.org/') 主题
                  a.footer-info-link(href='https://butterfly.top/') 关于
                  a.footer-info-link(href='https://butterfly.top/') 鸣谢
                  a.footer-info-link(target='_blank', rel='noopener', href='https://butterfly.top/') 总之岁月漫长，然而值得等待。