html
  head
  body
    main.layout.hide-aside#content-inner
      #page
        h1.page-title 电影推荐
        #article-container
          .author-content-item.like-movie.single.share
            .card-content
              .author-content-item-tips 电影
              span.author-content-item-title
                | 静下来慢慢
                span.inline-word 感受着，
              span.author-content-item-title
                | 流淌的
                span.inline-word 故事。
              .content-bottom
                .tips 跟米尔嘉查看更多书影音
              .banner-button-group
                a.banner-button(target='_blank', rel='noopener', href='https://www.douban.com/')
                  i.fas.fa-circle-chevron-right
                  span.banner-button-text 感受更多
          blockquote
            p 静下来，感受电影的魅力
          style .hexo-douban-item{padding-bottom:10px;position:relative;clear:both;min-height:170px;padding:10px 0;border-bottom:1px #ddd solid}@media screen and (max-width:600px){.hexo-douban-item{width:100%}}.hexo-douban-picture{position:absolute;left:0;top:10px;width:100px}.hexo-douban-info{padding-left:120px}.hexo-douban-meta{font-size:12px;padding-right:10px}.hexo-douban-comments{font-size:12px}
          div
            .hexo-douban-show#hexo-douban-item3
              .hexo-douban-item
                .hexo-douban-picture(title='人生大事')
                  a(target='_blank', href='https://movie.douban.com/subject/35460157/', rel='external nofollow')
                    img(src='https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2874262709.webp', data-src='https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2874262709.webp', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='人生大事')
                    a(target='_blank', href='https://movie.douban.com/subject/35460157/', rel='external nofollow') 人生大事
                  .hexo-douban-meta 2022-07-05 / ★★★★★ 力荐
                  .hexo-douban-comments 非常的感人，是一部非常值得看的电影
              .hexo-douban-item
                .hexo-douban-picture(title='长津湖之水门桥')
                  a(target='_blank', href='https://movie.douban.com/subject/35613853/', rel='external nofollow')
                    img(src='https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2846021991.jpg', data-src='https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2846021991.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='长津湖之水门桥')
                    a(target='_blank', href='https://movie.douban.com/subject/35613853/', rel='external nofollow') 长津湖之水门桥
                  .hexo-douban-meta 2022-07-04 / ★★★☆☆ 一般
                  .hexo-douban-comments 怎么说呢，和一直以来拍的都差不多，有的镜头还可以，不过看的还是有点生气
              .hexo-douban-item
                .hexo-douban-picture(title='绿皮书')
                  a(target='_blank', href='https://movie.douban.com/subject/27060077/', rel='external nofollow')
                    img(src='https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2549177902.jpg', data-src='https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2549177902.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='绿皮书')
                    a(target='_blank', href='https://movie.douban.com/subject/27060077/', rel='external nofollow') 绿皮书
                  .hexo-douban-meta 2022-05-17 / ★★★★★ 力荐
                  .hexo-douban-comments 是那种很容易让人耐着心思看下去的电影
              .hexo-douban-item
                .hexo-douban-picture(title='这个杀手不太冷静')
                  a(target='_blank', href='https://movie.douban.com/subject/35505100/', rel='external nofollow')
                    img(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2814949620.jpg', data-src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2814949620.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='这个杀手不太冷静')
                    a(target='_blank', href='https://movie.douban.com/subject/35505100/', rel='external nofollow') 这个杀手不太冷静
                  .hexo-douban-meta 2022-05-10 / ★★★★☆ 推荐
                  .hexo-douban-comments 还可以，值得一看
              .hexo-douban-item
                .hexo-douban-picture(title='开端')
                  a(target='_blank', href='https://movie.douban.com/subject/35332289/', rel='external nofollow')
                    img(src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2843045720.jpg', data-src='https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2843045720.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='开端')
                    a(target='_blank', href='https://movie.douban.com/subject/35332289/', rel='external nofollow') 开端
                  .hexo-douban-meta 2022-01-12 / ★★★★★ 力荐
                  .hexo-douban-comments 刚开始有平淡，特别是一直循环的时候有点无聊，但是又让人十分着迷
              .hexo-douban-item
                .hexo-douban-picture(title='鱿鱼游戏 第一季 / 오징어 게임')
                  a(target='_blank', href='https://movie.douban.com/subject/34812928/', rel='external nofollow')
                    img(src='https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2677934359.jpg', data-src='https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2677934359.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='鱿鱼游戏 第一季 / 오징어 게임')
                    a(target='_blank', href='https://movie.douban.com/subject/34812928/', rel='external nofollow') 鱿鱼游戏 第一季 / 오징어 게임
                  .hexo-douban-meta 2021-12-15 / ★★★★★ 力荐
                  .hexo-douban-comments 血腥暴力元素过多，有点可怕，总的来说还是比较有意思的
              .hexo-douban-item
                .hexo-douban-picture(title='扫黑风暴')
                  a(target='_blank', href='https://movie.douban.com/subject/35202793/', rel='external nofollow')
                    img(src='https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2623884456.jpg', data-src='https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2623884456.jpg', referrerpolicy='no-referrer')
                .hexo-douban-info
                  .hexo-douban-title(title='扫黑风暴')
                    a(target='_blank', href='https://movie.douban.com/subject/35202793/', rel='external nofollow') 扫黑风暴
                  .hexo-douban-meta 2021-10-12 / ★★★★★ 力荐
                  .hexo-douban-comments 演技很棒，非常符合我的口味。